---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from "astro:assets";
import atWorkImage from "../assets/at-work.jpg";
---

<BaseLayout title="About | Manu Kadiyala" description="About Manu Kadiyala">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				
				<Image
					src={atWorkImage}
					alt="Manu Kadiyala playing chess"
					priority
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a physics and mathematics graduate from the University of Vermont with interests spanning scientific computing, data analysis, and physics. I enjoy approaching technical problems through a combination of physical reasoning, mathematical modeling, programming, and experimentation.<br><br>
						
						Outside of technical work, I enjoy playing chess, skiing, kayaking, backpacking, and learning languages.
				
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<strong>B.S. Physics</strong><br />
						<strong>B.S. Mathematics</strong><br />
						University of Vermont, 2026
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						<strong>Programming:</strong> Python, Java, C++, OCaml
					</p>
					<p>
						<strong>Computing and Data:</strong> Scientific computing, numerical methods,
						machine learning, statistical analysis, data visualization, network analysis
					</p>
					<p>
						<strong>Physics and Materials:</strong> Condensed-matter physics, semiconductor
						materials, thin films, materials characterization
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
